<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <h1> Welcome to your Pokedex</h1>
    <nav>
        <a href="/pokemon/new"> Add new Pokemon!</a>
        <% for (let i = 0; i < pokemon.length; i++) { %>
            <div>
              <a href="/pokemon/<%= pokemon[i].id %>">
                <img src="<%= pokemon[i].img %>" alt="<%= pokemon[i].name %>">
              </a>
              <h2><%= pokemon[i].name %></h2>
              <p>Type: <%= String(pokemon[i].type).split(',')%></p>
              <p>HP: <%= pokemon[i].stats.hp %></p>
              <p>Attack: <%= pokemon[i].stats.attack %></p>
              <p>Defense: <%= pokemon[i].stats.defense %></p>
            </div>
          <% } %>
        </body>
      </html>
