<h1><%= pokemon.name %></h1>

<div>
  <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>">
  <ul>
    <li>ID: <%= pokemon.id %></li>
    <li>Type: <%= pokemon.type.join(', ') %></li>
    <li>Stats:</li>
    <ul>
      <li>HP: <%= pokemon.stats.hp %></li>
      <li>Attack: <%= pokemon.stats.attack %></li>
      <li>Defense: <%= pokemon.stats.defense %></li>
    </ul>
  </ul>
  <article>
        <a href="/pokemon/<%= pokemon._id %>/edit"><button>Edit</button></a>
        <form action="/pokemon/<%= pokemon._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
        </form>
        <a href="/pokemon/"><button>Back to Main</button></a>
</article>
</div>